# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.DS_store

# Distribution / packaging
.Python
data/
env/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Pycharm
.idea

# Mr Developer
src/
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Sphinx documentation
docs/_build/
doc/build/

# Backup files
*~
*.swp

# Odoo recipe
etc
# upgrade.py
*.run

# Upgrade log file
upgrade.log

# Developers configuration overrides
**/buildout-local.cfg

# Local virtualenv folder ignore
sandbox/

# Test results override
test_results/

# sonarqube
**/.scannerwork/

id_rsa

# Jetbrains IDEs
.idea/
.fleet/

# Project configuration
/parts/*
!/parts/custom/
!/parts/external/

# Do not ignore data folders of modules
!/parts/custom/*/data/
!/parts/external/*/data/

# Do not ignore lib folders of modules
!/parts/custom/*/lib/

# Ignore buildout cache
installed.cfg

# Ignore mr.developer cache
.mr.developer.cfg
